attrdict==2.0.0
cached-property==1.4.3
certifi==2018.4.16
chardet==3.0.4
construct==2.5.3
Django==2.0.5
django-appconf==1.0.2
django-audit-log==0.7.0
django-autocomplete-light==3.2.10
django-autotranslate==1.1.0
django-bootstrap3==10.0.1
django-db-constraints==0.3.0
django-extensions==2.0.7
django-filter==1.1.0
django-gm2m==0.6.1
django-haystack==2.8.1
django-haystack-elasticsearch==0.1.0
django-model-utils==3.1.2
django-user-accounts==2.0.3
djangorestframework==3.8.2
djangorestframework-recursive==0.1.2
docopt==0.6.2
drf-haystack==1.8.3
future==0.16.0
futures==3.1.1
goslate==1.5.1
idna==2.6
isodate==0.6.0
pefile==2017.11.5
Pillow==5.0.0
pipdeptree==0.12.1
polib==1.1.0
psycopg2==2.7.4
psycopg2-binary==2.7.4
pyparsing==2.2.0
pysolr==3.7.0
python-dateutil==2.7.3
python-ptrace==0.9.3
pytz==2018.4
rdflib==4.2.2
requests==2.18.4
simplejson==3.15.0
six==1.11.0
SPARQLWrapper==1.8.2
urllib3==1.22
viapy==0.1.1
Whoosh==2.7.4
yarg==0.1.9
SPARQLWrapper==1.8.2
rdflib==4.2.2
django-debug-toolbar==1.9.1
django-widget-tweaks==1.4.2