{% extends 'base.html' %}
{% load highlight %}
{% block content %}
<form method="get">
    <table>
        <tbody>
            {{ form.as_table }}
            <tr>
                <td>&nbsp;</td>
                <td><input type="submit" value="Search"></td>
            </tr>
        </tbody>
    </table>
</form>

{% if query %}
    <!-- Begin faceting. -->
    <div class="col-md-3">

        <dl>
            {% if facets.fields.composers %}
                <dt>Filter by Composer</dt>
                {% for composer in facets.fields.composers %}
                    {% if composer.1 != 0 %}
                       <dd><a href="{{ request.get_full_path }}&amp;selected_facets=composers:{{ composer.0|urlencode }}">
                           {{ composer.0 }}</a> ({{ composer.1 }})</dd>
                    {%  endif %}
                {% endfor %}
            {% endif %}
        </dl>

         <dl>
            {% if facets.fields.types %}
                <dt>Filter by Type of Work</dt>
                {% for type in facets.fields.types %}
                    {% if type.1 != 0 %}
                       <dd><a href="{{ request.get_full_path }}&amp;selected_facets=types:{{ type.0|urlencode }}">
                           {{ type.0 }}</a> ({{ type.1 }})</dd>
                    {%  endif %}
                {% endfor %}
            {% endif %}
        </dl>

        <dl>
            {% if facets.fields.styles %}
                <dt>Filter by Style</dt>
                {% for style in facets.fields.styles %}
                    {% if style.1 != 0 %}
                       <dd><a href="{{ request.get_full_path }}&amp;selected_facets=styles:{{ style.0|urlencode }}">
                           {{ style.0 }}</a> ({{ style.1 }})</dd>
                    {%  endif %}
                {% endfor %}
            {% endif %}
        </dl>

         <dl>
            {% if facets.fields.instruments %}
                <dt>Filter by Instrument</dt>
                {% for instrument in facets.fields.instruments %}
                    {% if instrument.1 != 0 %}
                       <dd><a href="{{ request.get_full_path }}&amp;selected_facets=instruments:{{ instrument.0|urlencode }}">
                           {{ instrument.0 }}</a> ({{ instrument.1 }})</dd>
                    {%  endif %}
                {% endfor %}
            {% endif %}
        </dl>

         <dl>
            {% if facets.fields.religiosity %}
                <dt>Filter by Religiosity</dt>
                {% for religiosity in facets.fields.religiosity %}
                    {% if religiosity.1 != 0 %}
                       <dd><a href="{{ request.get_full_path }}&amp;selected_facets=religiosity:{{ religiosity.0|urlencode }}">
                           {{ religiosity.0 }}</a> ({{ religiosity.1 }})</dd>
                    {%  endif %}
                {% endfor %}
            {% endif %}
        </dl>

        <dl>
            {% if facets.fields.certainty %}
                <dt>Filter by Certainty</dt>
                {% for certainty in facets.fields.certainty %}
                    {% if certainty.1 != 0 %}
                       <dd><a href="{{ request.get_full_path }}&amp;selected_facets=certainty:{{ certainty.0|urlencode }}">
                           {{ certainty.0 }}</a> ({{ certainty.1 }})</dd>
                    {%  endif %}
                {% endfor %}
            {% endif %}
        </dl>

         <dl>
            {% if facets.fields.sym_formats %}
                <dt>Filter by Symbolic File Format</dt>
                {% for format in facets.fields.sym_formats %}
                    {% if format.1 != 0 %}
                       <dd><a href="{{ request.get_full_path }}&amp;selected_facets=sym_formats:{{ format.0|urlencode }}">
                           {{ format.0 }}</a> ({{ format.1 }})</dd>
                    {%  endif %}
                {% endfor %}
            {% endif %}
        </dl>

         <dl>
            {% if facets.fields.audio_formats %}
                <dt>Filter by Audio Format</dt>
                {% for format in facets.fields.audio_formats %}
                    {% if format.1 != 0 %}
                       <dd><a href="{{ request.get_full_path }}&amp;selected_facets=audio_formats:{{ format.0|urlencode }}">
                           {{ format.0 }}</a> ({{ format.1 }})</dd>
                    {%  endif %}
                {% endfor %}
            {% endif %}
        </dl>

        <dl>
            {% if facets.fields.text_formats %}
                <dt>Filter by Text Formats</dt>
                {% for format in facets.fields.text_formats %}
                    {% if format.1 != 0 %}
                       <dd><a href="{{ request.get_full_path }}&amp;selected_facets=text_formats:{{ format.0|urlencode }}">
                           {{ format.0 }}</a> ({{ format.1 }})</dd>
                    {%  endif %}
                {% endfor %}
            {% endif %}
        </dl>

         <dl>
            {% if facets.fields.image_formats %}
                <dt>Filter by Image Format</dt>
                {% for format in facets.fields.image_formats %}
                    {% if format.1 != 0 %}
                       <dd><a href="{{ request.get_full_path }}&amp;selected_facets=image_formats:{{ format.0|urlencode }}">
                           {{ format.0 }}</a> ({{ format.1 }})</dd>
                    {%  endif %}
                {% endfor %}
            {% endif %}
        </dl>

         <dl>
            {% if facets.fields.languages %}
                <dt>Filter by Language</dt>
                {% for language in facets.fields.languages %}
                    {% if language.1 != 0 %}
                       <dd><a href="{{ request.get_full_path }}&amp;selected_facets=languages:{{ language.0|urlencode }}">
                           {{ language.0 }}</a> ({{ language.1 }})</dd>
                    {%  endif %}
                {% endfor %}
            {% endif %}
        </dl>
    </div>


    <!-- End faceting -->

    <!-- Display results... -->
   <div class="col-md-9">
            <div class="row">
                <div class="col-md-6 col-xs-6">
                      Search results for: <label> {{query}} </label>
               </div>
            </div>
            <div>
	    {% if page_obj.object_list %}
                <ol class="row top20">
                    {% for result in page_obj.object_list %}
                        {% include "database/cards/musical_work_card.html" with musicalwork=result.object query=query %}
                    {% endfor %}
                </ol>
            </div>
		    {% if is_paginated %}
		      <ul class="pagination pull-right">
		        {% if page_obj.has_previous %}
		          <li><a href="?q={{ query }}&page={{ page_obj.previous_page_number }}">&laquo;</a></li>
		        {% else %}
		          <li class="disabled"><span>&laquo;</span></li>
		        {% endif %}
		        {% for i in paginator.page_range %}
		          {% if page_obj.number == i %}
		            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
		          {% else %}
		            <li><a href="?q={{ query }}&page={{ i }}">{{ i }}</a></li>
		          {% endif %}
		        {% endfor %}
		        {% if page_obj.has_next %}
		          <li><a href="?q={{ query }}&page={{ page_obj.next_page_number }}">&raquo;</a></li>
		        {% else %}
		          <li class="disabled"><span>&raquo;</span></li>
		        {% endif %}
		      </ul>
		    {% endif %}
        {% else %}
	    <p> Sorry, no result found for the search term  <strong>{{query}} </strong></p>
	{% endif %}
	</div>
{% endif %}
{%  endblock %}