{% extends 'base.html' %}
{% load template_helpers %}
{% block content %}

<div class="row m-0">
  <div class="col">
  <form class="example" action="." method="get">
    {% for field in form %}
    <dl>
      <dt>
          {{ field.label }}
      </dt>
      {{ field }}
    </dl>
    {% endfor %}
  <button type="submit" class="btn btn-primary">Submit</button>
  
  </div>

  <div class="col-6">
  {{ paginator.count }} results for "<b>{{ request.GET.q }}</b>"
  {% include "search/search_pagination.html" with list=works %}
  {% for work in works %}
    {% include "search/search_item.html" with work=work %}
    <br>
  {% endfor %}
  {% include "search/search_pagination.html" with list=works %}
  </div>
 
  <div class="col"> </div>
</div>
{% endblock %}