{% load template_helpers %}
<ul class="pagination row mx-auto">
    <!-- Only show next/prev page button if an object is returned -->
    {% if page_obj.has_other_pages or page_obj.has_previous or page_obj.has_next %}
        {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link" href="{% relative_url page_obj.previous_page_number 'page' request.GET.urlencode %}">&laquo;</a></li>
        {% else %}
            <li class="page-item disabled"><a class="page-link disabled"
                        href="/#">
                        <span>&laquo;</span>
                    </a></li>
        {% endif %}

        {% if page_obj.number|add:'-4' > 1 %}
            <li class="page-item"><a class="page-link" href="{% relative_url 1 'page' request.GET.urlencode %}">1</a></li>
            <li class="page-item"><a class="page-link" href="{% relative_url page_obj.number|add:'-5' 'page' request.GET.urlencode %}">&hellip;</a></li>
        {% endif %}

        {% for i in page_obj.paginator.page_range %}
            {% if page_obj.number == i %}
                <li class="page-item">
                    <span><a class="page-link active" href="{% relative_url i 'page' request.GET.urlencode %}">{{ i }}<span class="sr-only">(current)</span></a></span>
                </li>
            {% elif i > page_obj.number|add:'-3' and i < page_obj.number|add:'3' %}
                <li class="page-item">
                    <a class="page-link" href="{% relative_url i 'page' request.GET.urlencode %}">{{ i }}</a>
                </li>
            {% endif %}
        {% endfor %}

        {% if page_obj.paginator.num_pages > page_obj.number|add:'4' %}
            <li class="page-item"><a class="page-link" href="{% relative_url page_obj.number|add:'5' 'page' request.GET.urlencode %}">&hellip;</a></li>
            <li class="page-item"><a class="page-link" href="{% relative_url page_obj.paginator.num_pages 'page' request.GET.urlencode %}">{{ page_obj.paginator.num_pages }}</a></li>
        {% endif %}

        {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link" href="{% relative_url page_obj.next_page_number 'page' request.GET.urlencode %}">&raquo;</a></li>
        {% else %}
            <li class="page-item disabled"><a class="page-link disabled"
                        href="/#">
                        <span>&raquo;</span>
                    </a></li>
        {% endif %}
    {% endif %}
</ul>
