<div class="accordion">
    <div class="card w-100" style="margin: auto">
        <div class="card-body">
            <div class="card-title"><a href="{{ work.get_absolute_url }}" >{{work}}</a></div>
                <h6 class="card-subtitle">
                Composer(s): 
                    {% for composer in work.composers.iterator %}
                        <a href="{{composer.get_absolute_url}}" >{{ composer }}</a>
                    {% endfor %}
                    <span style="float: right"><button class="btn btn-outline-secondary btn-sm" type="button" data-toggle="collapse" href="#more-info{{work.id}}">+</button></span>
                </h6>
                
                <div id="more-info{{work.id}}" class="collapse">
                    <ul class="list-group list-group-flush">
                        {% if work.sections.all %}
                            <li class="list-group-item">Section(s): 
                                <ul>
                                {% for section in work.sections.iterator %}
                                    <li><a href="{{section.get_absolute_url}}" >{{ section }}</a></li>
                                {% endfor %}
                                </ul>
                            </li>
                        {% endif %}
                        {% if work.genres_as_in_type.all %}
                            <li class="list-group-item">Genres (Type of Work):
                                {% for type in work.genres_as_in_type.all %}
                                    <a href="{{type.get_absolute_url}}" >{{ type.name }}</a>
                                {% endfor %}
                            </li>
                        {% endif %}
                        {% if work.genres_as_in_style.all %}
                            <li class="list-group-item">Genres (Style):
                                {% for style in work.genres_as_in_style.all %}
                                    <a href="{{style.get_absolute_url}}" >{{ style.name }}</a>
                                {% endfor %}
                            </li>
                        {% endif %}
                        {% if work.collections_of_sources %}
                            <li class="list-group-item">Collection(s) of Sources: 
                                {% for collection in work.collections_of_sources %}
                                    <a href="{{collection.get_absolute_url}}" >{{ collection }} </a>
                                {% endfor %}
                            </li>
                        {% endif %}
                        <li class="list-group-item"> File(s) Holding Complete Musical Work:
                            <ul> 
                                {% for file in work.symbolic_files %}
                                    <li>
                                        {% if file.id in file_ids and content_search_on %}
                                            <mark>
                                                <a href="{{file.get_absolute_url}}">{{ file.file_type }}</a>
                                            </mark>
                                        {% else %}
                                            <a href="{{file.get_absolute_url}}">{{ file.file_type }}</a>
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                        <li class="list-group-item"> File(s) Holding an Individual Section:
                            <ul> 
                                {% for section in work.sections.iterator %}
                                    {% if section.symbolic_files %}
                                        <li>{{ section }}</li>
                                        <ul>
                                            {% for file in section.symbolic_files %}
                                                <li>
                                                    {% if file.id in file_ids and content_search_on %}
                                                        <mark>
                                                            <a href="{{file.get_absolute_url}}">{{ file.file_type }}</a>
                                                        </mark>
                                                    {% else %}
                                                        <a href="{{file.get_absolute_url}}">{{ file.file_type }}</a>
                                                    {% endif %}
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </li>
                    </ul>
            </div>
        </div>
    </div>
</div>