{% extends 'base.html' %}
{% load template_helpers %}
{% block content %}
    <script>
        function toggle(slider_id, hidden_id) {
            //Toggle the slider and the hidden input
            let slider_disabled = $("#" + slider_id).slider("option", "disabled");
            if (slider_disabled === true) {
                $("#" + slider_id).slider("option", "disabled", false);
                $("#" + hidden_id).prop("disabled", false);
            } else if (slider_disabled === false) {
                $("#" + slider_id).slider("option", "disabled", true);
                $("#" + hidden_id).prop("disabled", true);
            }
        }
    </script>
    <style>
        ul {
            list-style-type: none;
        }
    </style>
    <form class="row m-0"
          method="get"
          action=".">

        <div class="col">
            <h4>Filter results by</h4>
            {% for field in faceted_search_form %}
                <dl>
                    <dt>
                        {{ field.label|proper_label|title|replace_underscores }}
                    </dt>
                    {{ field }}
                </dl>
            {% endfor %}
            <input type="submit"
                   class="btn btn-info"
                   value="Filter">
        </div>

        <div class="col-6">
            {{ model_count }} results for "<b>{{ query }}</b>"
            {% include 'database/list_embedded.html' with list=list model_name=model_name model_count=model_count %}
        </div>

        <div class="col">
            {% regroup content_search_form|dictsort:"field.group" by field.group as grouped_form %}
            <div class="list-group">
                {% for group in grouped_form %}
                    <button class="list-group-item"
                            type="button"
                            data-toggle="collapse"
                            href="#{{ group.grouper|slugify }}-collapse">
                        {{ group.grouper }}
                    </button>
                    <div class="panel-collapse collapse"
                         role="tabpanel"
                         id="{{ group.grouper|slugify }}-collapse">
                        <div class="list-group">
                            {% for field in group.list %}
                                {{ field }}
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

    </form>
{% endblock %}