<!---
    Defines a generic card that can be reused anytime that objects are displayed in a list.

    It should be used with the "include" template tag and it expects that a dictionary called summary is passed.
    The summary must have the "display" and "url" key-value pairs, and those are used to display a title and create
    a link respectively.

    If there are "badge_count" and "badge_name" key-value pairs, those are used to create a badge on the right side.
    Any other key:value pairs are displayed on a list under the title
-->

<a href='{{ summary.url }}' class="list-group-item col-xs-11">
    <!--Creates the badge if the necessary key-value pairs are there-->
    {% if summary.badge_count and summary.badge_name %}
        <span class="badge alert-info right-badge" style="margin-top:10px">
            {{ summary.badge_count }} {{ summary.badge_name|title }}
        </span>
    {%  endif %}

    <h4>{{ summary.display }}</h4>

    <!--Loops through the other attributes and lists them under the display text-->
    {% for key, value in summary.items %}
        {% if key != 'display' and key != 'url' and key != 'badge_count' and key != 'badge_name' %}
            <p class="list-group-item-text">
                <small>
                    {{ key|title }}: {{ value }}
                </small>
            </p>
        {% endif %}
    {% endfor %}
</a>