<!---
    Defines a generic card that can be reused anytime that objects are displayed in a list.

    It should be used with the "include" template tag and it expects that a dictionary called summary is passed.
    The summary must have the "display" and "url" key-value pairs, and those are used to display a title and create
    a link respectively.

    If there are "badge_count" and "badge_name" key-value pairs, those are used to create a badge on the right side.
    Any other key:value pairs are displayed on a list under the title
-->
{% load template_helpers %}

<a href='{{ summary.url }}'
   class="card m-2 text-dark">

    <div class="card-body"
         style="text-overflow: ellipsis">
        <div class="d-inline-flex flex-wrap"
             style="width: 100%">
            <h5 class="card-title mr-auto"
                style="word-wrap: break-spaces">
                {{ summary.display }}
            </h5>
            <!--Creates the badge if the necessary key-value pairs are there-->
            {% if summary.badge_count and summary.badge_name %}
                <span class="badge badge-info align-self-start">
                        {{ summary.badge_count }} {{ summary.badge_name|title }}
                </span>
            {% endif %}
        </div>
        <!--Loops through the other attributes and lists them under the display text-->
        <ul class="list-unstyled">
            {% for key, value in summary.items %}
                {% if key != 'display' and key != 'url' and key != 'badge_count' and key != 'badge_name' %}
                    {% if value %}
                        {% if value|is_list and value|length > 1 %}
                            <li>
                                <b>{{ key|title }}:</b>
                                {{ value.0 }} and others
                            </li>
                        {% elif value|is_list and value|length == 1 %}
                            <li>
                                <b>{{ key|title|replace_underscores }}:</b>
                                {{ value.0 }}
                            </li>
                        {% else %}
                            <li>
                                <b>{{ key|title|replace_underscores }}:</b>
                                {{ value }}
                            </li>
                        {% endif %}
                    {% endif %}
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</a>