<a  href="{{ contribution.url }}" class="card m-2 text-dark">
    <div class="card-body">
        <h6 class="card-title">
            {% if contribution.role == 'author' %}
                Author of Text:
            {% else %}
                {{ contribution.role|title }}:
            {% endif %}
            {{ contribution.person }}
        </h6>
        <ul class="list-unstyled">
            <li>
                {% if contribution.date %}
                    <b>Date</b>: {{ contribution.date }}
                {% endif %}
            </li>
            <li>
                {% if contribution.location %}
                    <b>Place</b>: {{ contribution.location.name }}
                {% endif %}
            </li>
            <li>
                <b>Attribution</b>:
                {{ contribution.certain|yesno:'Certain,Uncertain' }}
            </li>
        </ul>
    </div>
</a>