{% load i18n %}
{% load highlight %}
<a href='{{ musicalwork.get_absolute_url }}' class="list-group-item col-xs-11">
    <h4>{% highlight musicalwork.variant_titles.0 with query html_tag 'mark' max_length 200 %}</h4>
    <span class="badge alert-info right-badge" style="margin-top:10px">
        {{ musicalwork.sections.count }} {% include "database/translation_plural.html" with counts=musicalwork.section.count single="Section" notsingle="Sections" %}
    </span>
    <p class="list-group-item-text">
        <small>
            {% if musicalwork.composers|length > 1 %}
                {% trans 'Composers:' %} {{ musicalwork.composers.0.composer }} and others
            {% else %}
                {% trans 'Composer:' %} {{ musicalwork.composers.0.composer }}
            {% endif %}
        </small>
    </p>

    <p class="list-group-item-text">
        <small>
            {% trans 'Date of Composition:' %} {{ musicalwork.dates_of_composition.0.lower.year }} - {{ musicalwork.dates_of_composition.0.upper.year }}
        </small>
    </p>

</a>