.techfont{
  font-family: inherit;
  font-size: 1.5em;
  margin-bottom: 10px;
}

.postdate{
  text-align: center;
}

.posttitle{
  font-family: inherit;
  font-size: 3em;
  text-align: center;
}

.postcontent{
  font-family: inherit;
  font-size: 1.5em;
}

.navbar-custom {
  float: left;
  height: 50px;
  padding: 15px 15px;
  font-size: 12px;
  line-height: 20px;
}
/*each dot means a class, and can be referred by html class=* as a style/
.centerstage{
  margin-left: auto;
  margin-right: auto;
}

.btn-comment{
  position: absolute;
  right: 0px;
}

.bigbrand{
  font-size: 1.5em;
}


/*COLOR CHANGER*/
/*Credit and Source: http://codepen.io/thapliyalshivam/pen/dvgXVO*/

/*.loader{*/
  /*filter:hue-rotate(0deg);*/
  /*!*color: linear-gradient(45deg,#0f8,#08f);*!*/
/*}*/

/*@keyframes spinify {*/
  /*0% {*/
    /*transform: translate(0px,0px);*/

  /*}*/
  /*33% {*/
    /*transform: translate(0px,24px);*/
    /*border-radius:100%;*/
    /*width:10px;*/
    /*height:10px;*/

  /*}*/
   /*66% {*/
    /*transform:translate(0px,-16px);*/
  /*}*/

   /*88% {*/
    /*transform:translate(0px,4px);*/

  /*}*/
  /*100% {*/
    /*transform:translate(0px,0px);*/
  /*}*/
/*}*/
/*@keyframes hue{*/
  /*0%{filter: hue-rotate(0deg);}*/
  /*100%{filter:hue-rotate(360deg);}*/

/*}*/