{% extends "database/base.html" %}

{% block content %}

<h1>Welcome to the SIMSSA Database!</h1>

<br>

<p>
The SIMSSA Database is designed as a repository and discovery tool for 
symbolic music files (e.g. <a href="https://music-encoding.org/">MEI</a>, 
<a href=“https://www.humdrum.org/rep/kern/“>Kern</a>, MusicXML, and MIDI). 
Users can browse existing files or upload their own. The current site is a 
prototype that is still under development. It serves as part of the 
<a href=“https://simssa.ca/“>SIMSSA Project</a>, 
a SSHRC Partnership Grant. The SIMSSA Database is the successor of 
an older database created as part of <a href=“https://www.mcgill.ca/music/julie-e-cumming“>Julie Cumming</a>’s Digging into 
Data grant, designed to gather symbolic music files in one place to do 
computer-aided counterpoint analysis. The new database has made improvements
in several areas, explained below.
</p>
<br>

<h3>Modelling Bibliographic Metadata for Music </h3>

<p>
Our data model was first presented in 2017 as 
<a href=“http://www.music.mcgill.ca/~cmckay/papers/musictech/mckay17database.pdf“>
“A database model for computational music research” </a>(McKay et al., 2017). 
The model is fairly complex, designed to handle all the different kinds of music 
items that we might need to catalog — from prints to manuscripts and even 
recordings in the future. Since the original presentation, it has evolved in 
response to our development and testing process, but the basic premise of 
extensive support for all the different forms of music items remains key to our 
model. We’ve referred to library standards for bibliographic metadata such as 
the <a href=“https://www.ifla.org/publications/node/11412“>IFLA-LRM</a>
as well as <a href=“http://www.rism.info/community/muscat.html“>RISM‘s Muscat
</a>. We also use controlled vocabularies for some fields, so the user is 
presented with suggested vocabulary -- for example, we use the 
<a href="https://www.loc.gov/aba/publications/FreeLCMPT/freelcmpt.html">Library 
of Congress Medium of Performance thesaurus</a> for voices and instruments. 
We also pull in information about composers from <a href="https://viaf.org/">
VIAF</a>. Users can override the suggestions and add a new entry; we want to 
balance quality of data with flexibility. We are working towards adding URIs 
to our data to structure our work in a linked-data friendly way. 
</p>
<br>

<h3>Tracking Provenance</h3>

<p>
The database allows users to enter an immediate source — a URL or book title, 
for example — as well as one “parent” source. Modelling more complex 
hierarchies is a future goal, as well as being able to relate sources to other 
sources. Another part of provenance is keeping track of who did what when. We have 
entities for tracking how different file types are encoded, as well 
as validation which can track verifying the quality of files and can include 
details about workflow or reliability (For more on the methodology for building
a good corpus, see 
<a href="http://www.music.mcgill.ca/~cmckay/papers/musictech/cumming18methodologies.pdf">
Cumming et al, 2018</a>.
We also make it possible to record information about software used to encode 
symbolic files (e.g., a MusicXML file exported from 
<a href="https://musescore.org/en">Musescore</a>).
</p> 
<br>

<h3>Searching Musical Content</h3>

<p>
The SIMSSA DB uses Cory McKay‘s <a href="http://jmir.sourceforge.net/jSymbolic.html">
jSymbolic</a> software to allow content-based search of all the files in the 
database. 
When a piece is entered in the database, we automatically used jSymbolic to 
extract the musical features. This allows users to search for musical content 
as defined by jSymbolic features — aspects such as range, the presence of 
certain intervals, or other patterns. Users can also combine metadata and 
content search.
</p>
<br>

<h3>Archiving Research</h3>

<p>
It takes a lot of time to build a research corpus and ensure that everything 
is high quality, so we want to be sure we get to keep it, both for our own 
future use and for others who may wish to reproduce our results or conduct 
their own studies. While datasets are being built and edited, they go in 
<a href="https://github.com/ELVIS-Project/mass-duos-corpus-josquin-larue">
GitHub</a>. 
This allows us to track changes and collaborate really easily, and prevents 
things from getting lost in Google Drive. SIMSSA DB is great for finished 
corpus, storing related features, making it discoverable, and conducting 
searches, but for citation purposes we need something even more robust. 
We are working towards using <a href="https://zenodo.org/">Zenodo</a> 
for “release quality” datasets to cite in papers. Zenodo is an open-access 
repository run by the folks responsible for <a href="https://home.cern/">
CERN</a> and allows us to generate a <a href="https://www.doi.org/">DOI</a> 
for a stable, citeable dataset.
</p>
<br>

<h3>Developing the Database on GitHub</h3>

<p>
You can view our progress on our GitHub repository 
<a href=“https://github.com/ELVIS-Project/simssadb“>here</a>, and see our 
developer documentation 
<a href=“https://elvis-project.github.io/simssadb/html/index.html“>here</a>. 
</p>
<br>



{% endblock %}