{% extends 'database/base.html' %}
{% block content %}
<div id="wrapper">

<h1>Auto-fill Metadata From VIAF</h1>

<form class="navbar-form" method="get" action="/search/viaf/auto-fill/">  <!-- Action will redirect you to any link you want! -->
		<div class="input-group">
{#            {{ form.as_p }}#}
			<input type="text" class="form-control" placeholder="Name" name="q">
			<div class="input-group-btn">
				<button class="btn btn-default" type="submit">Search</button>
			</div>
		</div>
	</form>
</div>
{% endblock %}