{% extends "database/base.html" %}

{% block page_content %}
    <div class="row">
        <div class="col-md-8">
            <h1 id="page-header">{% block header %}{% endblock %}</h1>
        </div>
        <div class="col-md-4 text-right">
            {% block header-right %}{% endblock %}
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12">
            {% block list_content %}
            {% endblock %}
            {% include "database/base_page.html"%}
        </div>
    </div>
{% endblock %}