{% extends "database/base.html" %}
{% block content %}
{% include "database/add_to_cart.html" %}

<script>
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>

<div class="form-row align-items-right">
    <h3 class="col-sm-6">Download Cart</h3>
</div>
<div id="cart">
{% if not files %}
    Your cart is empty!
{% else %}
    <div class="form-row align-items-right">
        <span style="float: right">
            <form action="/download/cart/" method="get">
                <button type="button" class="btn btn-danger " onclick="ClearCart()">
                    Clear Cart
                </button>
                <button type="submit" class="btn btn-info">
                    Download Your Cart!
                </button>
                <div class="form-check form-check-inline">
                    <input type="checkbox" class="form-check-input" 
                        id="feature_files_on" name="feature_files_on" value="true"
                        data-toggle="tooltip" 
                        title="This will add to your download files with the values of features that were extracted from compatible symbolic music files with jSymbolic">
                    <label class="form-check-label" for="feature_files_on">
                        Include feature files
                    </label>
                </div>
            </form>
        </span>
    </div>
    <br>
    {% for file in files %}
        <div class="card">
            <div class="card-body">
                <a href="{{ file.get_absolute_url }}">
                    {{ file }}
                </a>
                <span style="float: right">
                    <button type="button" class="btn btn-danger btn-sm " value="{{ file.id }}" onclick="RemoveFileFromCart(this.value, this)">
                        <span class="fa fa-minus"></span>
                    </button>
                </span>
            </div>
        </div>
    {% endfor %}
{% endif %}
</div>
<br>
{% endblock %}
