{% extends "database/base.html" %}
{% load template_helpers %}

{% block content %}
    <h2>{{ detail.title }}</h2>
    <hr>
    <div class="container d-flex flex-wrap">
        {% for key, value in detail.items %}
            {# Weird but we need to keep values that are false but exclude values that are None or empty lists #}
            {% if key not in 'title, related, contributions, file, feature_files' and value or value is False %}
                <div style="flex: 0 0 33%">
                    <dt>
                        {{ key|replace_underscores|title }}
                    </dt>
                    <dd style="text-align: justify-all">
                        {% if value|is_list %}
                            {% for entry in value %}
                                {% if entry.get_absolute_url %}
                                    <a href="{{ entry.get_absolute_url }}">
                                        {{ entry }}</a>
                                {% else %}
                                    {% if entry|is_url %}
                                        <a href="{{ entry }}">{{ entry }}</a>
                                    {% else %}
                                        {{ entry }}
                                    {% endif %}
                                {% endif %}
                                {% if not forloop.last %},{% endif %}
                            {% endfor %}
                        {% else %}
                            {% if value.get_absolute_url %}
                                <a href="{{ value.get_absolute_url }}">
                                    {{ value }}
                                </a>
                            {% else %}
                                {% if value|is_url %}
                                    <a href="{{ value }}">{{ value }}</a>
                                {% else %}
                                    {{ value }}
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    </dd>
                </div>
            {% endif %}
            {% if key == 'feature_files' %}
                <div class="container">
                <div class="btn-group-vertical">
                {% for eachvalue in value %}

                    <a href="{{ eachvalue.file }}" download
                       class="btn btn-info">Download the Feature {{ eachvalue.file_type }} file</a>

                {% endfor %}

                <a href="{{ value.0.config_file }}" download
                   class="btn btn-info">Download the Config file</a>
            {% endif %}
        {% if key == 'file' %}

            <a href="{{ value }}" download
               class="btn btn-info">Download the Symbolic file</a>
            </div>
            </div>
        {% endif %}

        {% endfor %}
    </div>
    <div class="container">
        <div class="card-deck">
            {% for entry in detail.contributions %}
                {% include 'cards/contribution_card.html' with contribution=entry %}
            {% endfor %}
        </div>
    </div>

    <div class="container">
        <ul class="nav nav-tabs"
            role="tablist">
            {% for key, value in detail.related.items %}
                {% if value.model_count > 0 %}
                    {% if forloop.first %}
                        <li role="presentation"
                            class="nav-item active">
                            <a class="nav-link active"
                               data-toggle="tab"
                               href="#tab-id{{ forloop.counter }}">
                                {{ key|title|replace_underscores }} ({{ value.model_count }})
                            </a>
                        </li>
                    {% else %}
                        <li role="presentation"
                            class="nav-item">
                            <a class="nav-link"
                               data-toggle="tab"
                               href="#tab-id{{ forloop.counter }}">
                                {{ key|title|replace_underscores }}
                                ({{ value.model_count }})
                            </a>
                        </li>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </ul>

        <div class="tab-content">
            {% for key, value in detail.related.items %}
                {% if forloop.first %}
                    <div id="tab-id{{ forloop.counter }}"
                         class="tab-pane active">
                        {% include 'database/list_embedded.html' with list=value.list model_name=value.model_name model_count=value.model_count %}
                    </div>
                {% else %}
                    <div id="tab-id{{ forloop.counter }}"
                         class="tab-pane">
                        {% include 'database/list_embedded.html' with list=value.list model_name=value.model_name model_count=value.model_count %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>

{% endblock %}