{% extends "database/base.html" %}
{% load static %}

{% block content %}
    <style>
        label
        {
            color: black;
            font-size: medium;
        }
        input[type=text] {
            border: 1px solid #9b9b9b;
            border-radius: 4px;
            padding-left: 5px;
            padding-top: 3px;
            padding-bottom: 4px;
            margin-top: 10px;
            margin-bottom: 10px;
        }
        #warning {
            color: rgb(0, 19, 103);
        }
        #add_more_work, #add_more_section, #add_more_part {
            margin-bottom: 5vh;
        }
        .btn {
            margin-top: 1vh;
        }
    </style>

<div class="alert alert-primary" role="alert">
    <h5 class="alert-heading">This page is for demo purposes only.</h5>
    <hr>
    <p class="mb-0">This is the file upload form to add information for the database. For your viewing, you may test it out, but the creation functionality is disabled. Nothing you write nor upload will be added to the database.</p>
</div>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% if error_message %}
        <div class="alert alert-warning" role="alert">{{ error_message }}</div>
    {% endif %}
    <p id="warning"><i>If you are only adding metadata to a work, you can skip this form and submit.</i></p>
        {% if work_formset %}
        {{ work_formset.management_form }}
        <div id="work_files">
            <h3>Work</h3>
            <p> Please attach files below that represent the whole musical work (i.e., all movements or sections).</p>
            {% for form in work_formset %}
                {{ form.as_p }}
            {% endfor %}
        </div>
        <input input class="btn btn-success btn-sm" type="button" id="add_more_work" value="+">
        
        {% endif %}

        {% if section_formset %}
        {{ section_formset.management_form }}
        <div id="section_files">
            <h3>Sections</h3>
            <p> Please attach files that represent individual sections below. Choose the section from the dropdown menu.</p>
            {% for form in section_formset %}
                {{ form.as_p }}
            {% endfor %}
        </div>
        <input input class="btn btn-success btn-sm" type="button" id="add_more_section" value="+">
       
        {% endif %}

        {% if part_formset %}
        {{ part_formset.management_form }}
        <div id="part_files">
            <h3>Parts</h3>
            <p> Please attach individual parts to the appropriate voice or instrument below.</p>
            {% for form in part_formset %}
                {{ form.as_p }}
            {% endfor %}
            </div>
        <input input class="btn btn-success btn-sm" type="button" id="add_more_part" value="+">
        {% endif %}

    <div id="sources">
        <h3>Where did these files come from?</h3>
        <p>
        Please indicate the provenance of the file you are uploading. 
        If the music is part of a larger collection with
        multiple works (e.g., a complete edition of The Well-Tempered Clavier I, 
        a Fake Book, or an online collection), 
        please include the title of this collection below. 
        If the music you are submitting is from a stand-alone work 
        (e.g., a score of Bach’s “Prelude and Fugue No. 2 in C minor”), 
        then "Title" will be the same as the musical work, but you should still fill in the other fields.
        </p>
        <div id="child-source">
            {{ child_source_form.as_p }}
        </div>
        <p>Please enter earlier sources below. For example, if you used a modern edition you can also enter 
        information about the original manuscript below.
        </p>
        <div id="parent-source">
            {{ parent_source_form.as_p }}
        </div>
    </div>

    <br>
    <button type="submit" value="Submit" class="btn-block btn btn-lg btn-primary">Submit</button>
</form>

<div id="work_empty_form" style="display:none">
        {{ work_formset.empty_form.as_p }}
        {{ work_formset.forms.0.attach_to.label_tag }}
        {{ work_formset.forms.0.attach_to }}
        <br>
</div>

<div id="section_empty_form" style="display:none">
        {{ section_formset.empty_form.as_p }}
        {{ section_formset.forms.0.attach_to.label_tag }}
        {{ section_formset.forms.0.attach_to }}
        <br>
</div>

<div id="part_empty_form" style="display:none">
        {{ part_formset.empty_form.as_p }}
        {{ part_formset.forms.0.attach_to.label_tag }}
        {{ part_formset.forms.0.attach_to }}
        <br>
</div>

<script>
    $('#add_more_work').click(function() {
        var form_idx = $('#id_work-TOTAL_FORMS').val();
        $('#work_files').append($('#work_empty_form').html().replace(/__prefix__/g, form_idx).replace('work-0', 'work-'+ form_idx));
        $('#id_work-TOTAL_FORMS').val(parseInt(form_idx) + 1);
    });

    $('#add_more_section').click(function() {
        var form_idx = $('#id_section-TOTAL_FORMS').val();
        $('#section_files').append($('#section_empty_form').html().replace(/__prefix__/g, form_idx).replace('section-0', 'section-'+ form_idx));
        $('#id_section-TOTAL_FORMS').val(parseInt(form_idx) + 1);
    });

    $('#add_more_part').click(function() {
        var form_idx = $('#id_part-TOTAL_FORMS').val();
        $('#part_files').append($('#part_empty_form').html().replace(/__prefix__/g, form_idx).replace('part-0', 'part-'+ form_idx));
        $('#id_part-TOTAL_FORMS').val(parseInt(form_idx) + 1);
    });
</script>

{{ work_formset.forms.0.media }}
{% endblock %}
