{% load widget_tweaks %}
<script>
$(document).ready(function(){
    $('[data-toggle="popover"]').popover();
});
</script>
{% if form.non_field_errors %}
    <div class="alert alert-danger" role="alert">
      {% for error in form.non_field_errors %}
        {{ error }}
      {% endfor %}
    </div>
    {% endif %}
        {% for field in form %}
            <div class="input-group padding">
            {% if field.field.required %}
            <span class="input-group-addon sync" data-toggle="popover" data-placement="top" data-trigger="hover"
                    data-html='true'
                    title="<b>{{ field.label }}</b><span class='label label-danger pull-right'>Required</span>"
                  data-content="{{ field.help_text }}"><strong style="height: 20px;">{{ field.label }}</strong></span>
             {% else %}
            <span class="input-group-addon sync" data-toggle="popover" data-placement="top" data-trigger="hover"
                    data-html='true'
                    title="<b>{{ field.label }}</b><span class='label label-success pull-right'>Optional</span>"
                  data-content="{{ field.help_text }}"><strong>{{ field.label }}</strong></span>
             {% endif %}
            {% render_field field class="form-control" %}
            </div>
            <div style="color: #cc0033;">
                {{ field.errors }}
            </div>

        {% endfor %}