{% extends "database/base.html" %}
{% load i18n %}
{% load widget_tweaks %}
{% load template_helpers %}
{% load assign_value %}
{% load increment %}
{% block content %}
    <script>
    $(document).ready(function(){
        $('[data-toggle="popover"]').popover();
        $(".select_menu").select2({
             });
    })
    </script>
    {% if form.instance.lower_case_name == 'musicalwork' %}
        <h1>Add a New Musical Work</h1>
    {% elif form.instance.lower_case_name == 'audiofile' %}
        <h1>Add a New Audio File</h1>
    {% elif form.instance.lower_case_name == 'geographicarea' %}
        <h1>Add a New Geographic Area</h1>
    {% elif form.instance.lower_case_name == 'imagefile' %}
        <h1>Add a New Image File</h1>
    {% elif form.instance.lower_case_name == 'researchcorpus' %}
        <h1>Add a New Research Corpus</h1>
    {% elif form.instance.lower_case_name == 'symbolicmusicfile' %}
        <h1>Add a New Symbolic Music File</h1>
    {% elif form.instance.lower_case_name == 'textfile' %}
        <h1>Add a New Text File</h1>
    {% elif form.instance.lower_case_name == 'collectionofsources' %}
        <h1>Add a New Collection of Sources</h1>
    {% else %}
        <h1>Add a New {{ form.instance.lower_case_name|title }}</h1>
    {% endif %}
    <form method="POST" class="post-form">
    {% csrf_token %}
    {% if form.non_field_errors %}
    <div class="alert alert-danger" role="alert">
      {% for error in form.non_field_errors %}
        {{ error }}
      {% endfor %}
    </div>
    {% endif %}
{#  Output all results from messages and let the user choose one result #}
        {% for field in form %}
            <div class="input-group padding">
            {% if field.field.required %}
            <span class="input-group-addon sync" data-toggle="popover" data-placement="top" data-trigger="hover"
                    data-html='true'
                    title="<b>{{ field.label }}</b><span class='label label-danger pull-right'>Required</span>"
                  data-content="{{ field.help_text }}"><strong style="height: 20px;">{{ field.label }}</strong></span>
             {% else %}
            <span class="input-group-addon sync" data-toggle="popover" data-placement="top" data-trigger="hover"
                    data-html='true'
                    title="<b>{{ field.label }}</b><span class='label label-success pull-right'>Optional</span>"
                  data-content="{{ field.help_text }}"><strong>{{ field.label }}</strong></span>
             {% endif %}
            {% with 0 as found_in_extra_tags %} {# define a variable that reveals whether we found anything from authority control that can auto-fill the form #}
            {% for message in messages %}
                {% if field.name == message.extra_tags %}  {# if we found anything #}
                    {% if field.field.widget.input_type == 'select' %}
                        {% render_field field class="form-control select_menu" %}
                    {% else %}
                        {% render_field field class="form-control" value=message %} {# Input the value automatically #}
                    {% endif %}

                    {% assign found_in_extra_tags 1 %} {# Label that we have found the auto-fill info for the currenct field #}
                {% endif %}
                {% if forloop.last and found_in_extra_tags == 0 %} {# if we don't find anything from autority control #}
                   {% if field.field.widget.input_type == 'select' %}
                        {% render_field field class="form-control select_menu"%}

                    {% else %}
                        {% render_field field class="form-control" %}
                    {% endif %} {# render the empty field #}

                {% endif %}
            {% endfor %}
            {% endwith %}
            {% if not messages|get_number_of_messages %} {# if there is no messages, which means the user do not search anything in authority control #}
                {% if field.field.widget.input_type == 'select' %}
                    {% render_field field class="form-control select_menu"%}

                {% else %}
                    {% render_field field class="form-control" %}
                {% endif %}
            {% endif %}
            </div>
            <div style="color: #cc0033;">
                {{ field.errors }}
            </div>
            {% if field.field.widget.input_type == 'select' %}
                {% if field.label != 'Religiosity' and field.label != 'Physical or electronic' and field.field.queryset.model|get_model_name != 'source' and field.field.queryset.model|get_model_name != 'auth_user' and field.field.queryset.model|get_model_name != 'extracted_feature' and field.field.queryset.model|get_model_name != 'symbolic_music_file'%}
                    <a href={% url field.field.queryset.model|get_model_name %}>Create A New "{{ field.label|lower }}" Entry</a>
                {% endif %}
            {% endif %}
        {% endfor %}
    <br>
    <button type="submit" class="save btn btn-default" >Save</button>
    </form>
{% endblock %}

