{% extends "database/base_list.html" %}
{% load rest_framework %}
{% block content %}
{% block header %}
    <h1>Genres</h1>
{% endblock %}
{% block list_content %}
    <div class="centerstage">
    {% for g in genre_list %}
        <div class="post">
            <a href="{% url 'genre-detail' pk=g.pk %}" class="list-group-item col-xs-11">
                <span class='badge alert-info right-badge' style='margin-top:10px'>
                    {{ g.form.all|length }} Piece{{ g.form.all|length|pluralize }}
                </span>
                <h4>
                    {{ g.name  }}
                </h4>
            </a>
        </div>
    {% endfor %}
{% endblock %}
</div>
{% endblock %}



