{% extends "database/base_list.html" %}
{% load rest_framework %}
{% load i18n %}
{% block content %}
{% block header %}
    <h1>{% include "database/translation_plural_number.html" with counter=genre_list.count single="Genre" notsingle="Genres" %}</h1>
{% endblock %}
{% block list_content %}
    <div class="centerstage">
    {% for g in genre_list %}
        {% include "database/list_item.html" with title=g.name url=g.pk musicalwork_count=g.form.count type="genre" %}
    {% endfor %}
{% endblock %}
</div>
{% endblock %}



