{% extends "database/base.html" %}

{% block content %}


        <h1 class='posttitle loader'>{{ genre.name}}</h1> <!-- Loader and posttitle is the class defined in css file-->
        <p>Pieces that belong to this genre (style):</p>
        {% for musicalwork in genre.style.all %}
            <a href="{% url 'musicalwork-detail' pk=musicalwork.pk %}">{{ musicalwork.variant_titles.0 }}</a>
        {% endfor %}
        <p>Pieces that belong to this genre (form):</p>
        {% for musicalwork in genre.form.all %}
            <p><a href="{% url 'musicalwork-detail' pk=musicalwork.pk %}">{{ musicalwork.variant_titles.0 }}</a></p>
        {% endfor %}





{% endblock %}
