{% extends "database/base.html" %}
{% load i18n %}
{% block content %}
        <h2>{{ genre.name}} </h2>
        <h3>{{ genre.count }} Musical Work{{ genre.count|pluralize }} </h3>
        {% for musical_work in genre.style.all %}
                {% include 'database/cards/card.html' with summary=musical_work.summary %}
        {% endfor %}
        {% for musical_work in genre.type.all %}
                {% include 'database/cards/card.html' with summary=musical_work.summary %}
        {% endfor %}
{% endblock %}




