{% extends "database/base.html" %}
{% load i18n %}
{% block content %}


        <h2>{{ genre.name}}</h2> <!-- Loader and posttitle is the class defined in css file-->
        <h3>
            {% with genre.form.count as counts %}
            {% blocktrans count counter=counts %}
                Piece
            {% plural %}
                Pieces
            {% endblocktrans %}
            {% endwith %}
            ({{ genre.form.count }})
        </h3>
        {% for m in genre.form.all %}
                <a href="{% url 'musicalwork-detail' pk=m.pk %}" class="list-group-item col-xs-11">
                    <span class='badge alert-info right-badge' style='margin-top:10px'>
                        {{ m.sections.all|length }}
                        {% with m.sections.count as counts %}
                        {% blocktrans count counter=counts %}
                            Section
                        {% plural %}
                            Sections
                        {% endblocktrans %}
                        {% endwith %}
                    </span>
                    <h4>
                        {{ m.variant_titles.0  }}
                    </h4>
                    <p class='list-group-item-text'></p>
                        <small>
                            {% trans "Composer:" %} {{ m.contributors.all.0  }}
                        </small>
                    <p class='list-group-item-text'></p>
                        <small>
                            {% trans "Date of composition:" %} {{ m.dates_of_composition.0.lower.year }}-{{ m.dates_of_composition.0.upper.year }}
                        </small>
                </a>
        {% endfor %}
{% endblock %}




