{% load i18n %}
<a href='{{ url }}' class='list-group-item col-xs-11'>
    {% if type == "person" %}
        <span class='badge alert-info right-badge' style='margin-top:10px'>

        {{ musicalwork_count }} {% include "database/translation_plural.html" with counts=musicalwork_count single="Musical Work" notsingle="Musical Works" %} {{ section_count }} {% include "database/translation_plural.html" with counts=section_count single="Section" notsingle="Sections" %}
    </span>
    {% endif %}
    {% if type == "musicalwork" %}
        <span class='badge alert-info right-badge' style='margin-top:10px'>
        {{ section_count }} {% include "database/translation_plural.html" with counts=section_count single="Section" notsingle="Sections" %}
    </span>
    {% endif %}
    {% if type == "section" or type == "instrument" %}
        <span class='badge alert-info right-badge' style='margin-top:10px'>
        {{ part_count }} {% include "database/translation_plural.html" with counts=part_count single="Part" notsingle="Parts" %}
    </span>
    {% endif %}
    {% if type == "genre" %}
        <span class='badge alert-info right-badge' style='margin-top:10px'>
        {{ musicalwork_count }} {% include "database/translation_plural.html" with counts=musicalwork_count single="Musical Work" notsingle="Musical Works" %}
    </span>
    {% endif %}
    <h4>{{ title }}</h4>
            {% if composer %}
                <p class='list-group-item-text'></p>
                <small>
                {% trans "Composer:" %} {{ composer }}
                </small>
            {% endif %}
            {% if musicalwork_title %}
                <p class='list-group-item-text'></p>
                <small>
                {% trans "Musical Work:" %} {{ musicalwork_title }}
                </small>
            {% endif %}
            {% if creator %}
                <p class='list-group-item-text'></p>
                <small>
                Created by {{ creator }}
                </small>
            {% endif %}
            {% if date1 or date2 %}
                {% if type == "person" %}
                    <p class='list-group-item-text'></p>
                    <small>
                    {{ date1 }}-{{ date2 }}
                    </small>
                {% else %}
                    <p class='list-group-item-text'></p>
                    <small>
                    {% trans "Date of Composition:" %} {{ date1 }}-{{ date2 }}
                    </small>
                {% endif %}
            {% endif %}
</a>
