{%  load template_helpers %}
{% if is_paginated %}
<ul class="pagination">
    {% if page_obj.has_previous %}
        <li class="page-item"><a class="page-link" href="{% relative_url page_obj.previous_page_number 'page' request.GET.urlencode %}">&laquo;</a></li>
    {% else %}
        <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
    {% endif %}
    {% for i in paginator.page_range %}
        {% if page_obj.number == i %}
            <li class="page-item active">
                <a class="page-link" href="{% relative_url i 'page' request.GET.urlencode %}">
                    {{ i }}<span class="sr-only">(current)</span>
                </a>
            </li>
        {% else %}
            <li class="page-item">
                <a class="page-link"href="{% relative_url i 'page' request.GET.urlencode %}">
                    {{ i }}
                </a>
            </li>
        {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
        <li class="page-item"><a class="page-link"href="{% relative_url page_obj.next_page_number 'page' request.GET.urlencode %}">&raquo;</a></li>
    {% else %}
        <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
    {% endif %}
</ul>
{% endif %}
