<div class="form-row align-items-right">
    <h3 class="col-sm-9"> {{ object_list.model.get_verbose_name_plural }} 
        {% if is_paginated %}
            ({{ page_obj.start_index }} to {{ page_obj.end_index }} of {{ page_obj.paginator.count }})
        {% else %}
            ({{page_obj.paginator.count}})
        {% endif %}
    </h3>
    <form method="get" class="col-sm-3">
        <div class="input-group input-group-sm">
            <input type="text" class="form-control" name="q" value="{{ request.GET.q}}">
            <div class="input-group-append">
                <button type="submit" class="btn btn-info btn-sm"> Filter </button>
            </div>
        </div>
    </form>
</div>
