{% extends "database/base.html" %}
{% load i18n %}
{% load widget_tweaks %}
{% load template_helpers %}
{% load assign_value %}
{% load increment %}
{% block content %}
    <style>
        #form1 {
            display: none;
        }

        #form2 {
            display: none
        }

        #form3 {
            display: none
        }

        #form4 {
            display: none
        }

        #form5 {
            display: none
        }

        #form6 {
            display: none
        }
    </style>
    <script>
        $(document).ready(function () {
            $("input[placeholder]").each(function () {
                $(this).attr('size', $(this).attr('placeholder').length);
            });

            $('[data-toggle="popover"]').popover();

            function matchStart(params, data) { // params term is the word you input
                // If there are no search terms, return all of the data
                if ($.trim(params.term) === '') {
                    return data;
                }

                // In our cases, we don't have hierarchial data, so we dont have data.children
                var filteredChildren = [];
                var words = data.text.split(" ")  // Words save the name of each entry
                if (data.text.toUpperCase().indexOf(params.term.toUpperCase()) == 0) {
                    filteredChildren.push(data);
                }
                {# This matches the beginning of the item #}
                if (data.text.toUpperCase().indexOf(params.term.toUpperCase()) > 0) {
                    if (data.text[data.text.toUpperCase().indexOf(params.term.toUpperCase()) - 1] == ' ') {
                        filteredChildren.push(data);
                    }
                }
                {# This matches non-beginning of the item, but the search item needs to be at least the beginning of each word in the item #}
                if (filteredChildren.length) {
                    var modifiedData = [];  // use this because we dont have nested data!
                    modifiedData.children = filteredChildren;
                    return modifiedData;
                }
                // Return `null` if the term should not be displayed
                return null;
            }

            $("#select_menu").select2({
                matcher: matchStart,
                language: {
                    noResults: function () {
                        return "<a href='#'>Confirm the addition of a new item</a>";
                    }
                },
                escapeMarkup: function (markup) {
                    return markup;
                }
            });
            $("#select_menu_geographical_area").select2({
                matcher: matchStart,
                language: {
                    noResults: function () {
                        return "<a href='{% url 'geographic_area' %}'>Confirm the addition of a geographical area</a>";
                    }
                },
                escapeMarkup: function (markup) {
                    return markup;
                }
            });
            $("#select_menu_geographical_area1").select2({
                matcher: matchStart,
                language: {
                    noResults: function () {
                        return "<a href='{% url 'geographic_area' %}'>Confirm the addition of a geographical area</a>";
                    }
                },
                escapeMarkup: function (markup) {
                    return markup;
                }
            });
            $(".select_menu_geographical_area").select2({
                width: 'resolve',
                matcher: matchStart,
                language: {
                    noResults: function () {
                        return "<a href='{% url 'geographic_area' %}'>Confirm the addition of a geographical area</a>";
                    }
                },
                escapeMarkup: function (markup) {
                    return markup;
                }
            });
            $("#select_menu_contributor").select2({
                matcher: matchStart,
                language: {
                    noResults: function () {
                        return "<a href='{% url 'person' %}'>Confirm the addition of a new contributor</a>";
                    }
                },
                escapeMarkup: function (markup) {
                    return markup;
                }
            });
            $("#select_menu_contributor1").select2({
                matcher: matchStart,
                language: {
                    noResults: function () {
                        return "<a href='{% url 'person' %}'>Confirm the addition of a new contributor</a>";
                    }
                },
                escapeMarkup: function (markup) {
                    return markup;
                }
            });
            $(".select_menu_contributor").select2({
                width: 'resolve',
                matcher: matchStart,
                language: {
                    noResults: function () {
                        return "<a href='{% url 'person' %}'>Confirm the addition of a new contributor</a>";
                    }
                },
                escapeMarkup: function (markup) {
                    return markup;
                }
            });
            $(".select_menu_genre_as_in_type").select2({
                matcher: matchStart,
                language: {
                    noResults: function () {
                        return "<a href='{% url 'genre_as_in_type' %}'>Confirm the addition of a new genre (type)</a>";
                    }
                },
                escapeMarkup: function (markup) {
                    return markup;
                }
            });
            $(".select_menu_genre_as_in_style").select2({
                matcher: matchStart,
                language: {
                    noResults: function () {
                        return "<a href='{% url 'genre_as_in_style' %}'>Confirm the addition of a new genre (style)</a>";
                    }
                },
                escapeMarkup: function (markup) {
                    return markup;
                }
            });

            $(".select_menu_instrument").select2({
                matcher: matchStart,
                language: {
                    noResults: function () {
                        return "<a href='#'>Confirm the addition of a instrument</a>";
                    }
                },
                escapeMarkup: function (markup) {
                    return markup;
                }
            });
            $("#select_menu_collection_of_sources").select2({
                matcher: matchStart,
                language: {
                    noResults: function () {
                        return "<a href='#'>Confirm the addition of a new collection of sources</a>";
                    }
                },
                escapeMarkup: function (markup) {
                    return markup;
                }
            });
            {#  match each word with the beginning letter  #}
            {#$('#formButton').click(function() {#}
            {#    $('#form1').toggle();#}
            {#            {);#}

            $('#addForm').click(function () {
                if ($('#form1').css('display') == 'none') {
                    $('#form1').css('display', 'block');
                    return;
                }
                if ($('#form2').css('display') == 'none') {
                    $('#form2').css('display', 'block');
                    return;
                }
                if ($('#form3').css('display') == 'none') {
                    $('#form3').css('display', 'block');
                    return;
                }
                if ($('#form4').css('display') == 'none') {
                    $('#form4').css('display', 'block');
                    return;
                }
                if ($('#form5').css('display') == 'none') {
                    $('#form5').css('display', 'block');
                    return;
                }
                if ($('#form6').css('display') == 'none') {
                    $('#form6').css('display', 'block');
                    return;
                }
            });
            $('#removeItself1').click(function () {
                if ($('#form1').css('display') == 'block')
                    $('#form1').css('display', 'none');
            });
            $('#removeItself2').click(function () {
                if ($('#form2').css('display') == 'block')
                    $('#form2').css('display', 'none');
            });
            $('#removeItself3').click(function () {
                if ($('#form3').css('display') == 'block')
                    $('#form3').css('display', 'none');
            });
            $('#removeItself4').click(function () {
                if ($('#form4').css('display') == 'block')
                    $('#form4').css('display', 'none');
            });
            $('#removeItself5').click(function () {
                if ($('#form5').css('display') == 'block')
                    $('#form5').css('display', 'none');
            });
            $('#removeItself6').click(function () {
                if ($('#form6').css('display') == 'block')
                    $('#form6').css('display', 'none');
            });
            $('#add_title').click(function () {
                $("#fill_title").append('            <div class="input-group" id="filled_title">\n' +
                    '        <span class="input-group-addon" data-toggle="popover" data-placement="top" data-trigger="hover"\n' +
                    '                    data-html=\'true\'\n' +
                    '                    title="<b>Title</b><span class=\'label label-primary pull-right\'>Required</span>"\n' +
                    '                    data-content="Note: Duplicate titles will produce duplicate pieces in the database: this is to allow for\n' +
                    '                    composers who may have more than one piece with the same name."><strong>Variant title</strong></span>\n' +
                    '            <input type="text" name="title" autocomplete="off" class="form-control"\n' +
                    '                   aria-label="Title"></div>');
            });
            $('#del_title').click(function () {
                var div = $("#filled_title");
                div.find('input:text').last().closest('div').remove();

            });
            {#The section above adds a variant title field #}
        });


    </script>
    <h1>Upload a Piece</h1>
    <form method="POST" class="post-form">
        {% csrf_token %}
        {% if form.non_field_errors %}
            <div class="alert alert-danger" role="alert">
                {% for error in form.non_field_errors %}
                    {{ error }}
                {% endfor %}
            </div>
        {% endif %}
        {#  Output all results from messages and let the user choose one result #}
        <div style="color: #cc0033;">
            {{ field.errors }}
        </div>
    </form>
    <br>
    <div id="upload-page-content">
        <form action="/pieces/" method="post" id="new-piece-form" enctype="multipart/form-data">{% csrf_token %}
            <div class="input-group"> <span class="input-group-addon" data-toggle="popover" data-placement="top"
                                            data-trigger="hover" data-html="true"
                                            title="&lt;b&gt;Title&lt;/b&gt;&lt;span class=&apos;badge badge-primary pull-right&apos;&gt;Required&lt;/span&gt;"
                                            data-content="Note: Duplicate titles will produce duplicate pieces in the database: this is to allow for composers who may have more than one piece with the same name.">Title:</span>
                <input type="text" name="title" autocomplete="off" class="form-control"
                       placeholder="e.g. Ach Gott, vom Himmel sieh darein, BWV 2" aria-label="Title">
                <span class="input-group-btn">
                    <button type="button" id="add_title" class="btn btn-secondary">+</button>
                    <button type="button" id="del_title" class="btn btn-secondary">-</button>
                </span>
            </div>
            <div id="fill_title">
            </div>
            <br>
            <div>
                <div class="input-group">
                    {% for field in contribution_form %}
                        {% if field.label == 'Person' %}
                            <span class="input-group-btn" data-toggle="popover" data-placement="top"
                                  data-trigger="hover" data-html="true"
                                  title="Contributor&lt;span class=&apos;badge badge-primary pull-right&apos;&gt;Required&lt;/span&gt;"
                                  data-content="The role that this Person had in contributing. Can be one of: Composer, Arranger, Author of Text, Transcriber, Improviser, Performer">
                                <select class="btn"
                                        style=" border: 1px solid #ccc;; vertical-align: middle; background-color: #eee;">
                                <option selected="selected">Composer</option>
                                <option>Arranger</option>
                                <option>Author of Text</option>
                                <option>Transcriber</option>
                                <option>Improviser</option>
                                <option>Performer</option>
                                </select>
                            </span>
                            {% render_field field multiple="multiple" class="form-control" id="select_menu_contributor" %}
                            <span class="input-group-btn">
                        <button type="button" id="addForm" class="btn btn-secondary">+</button>
                        </span>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="input-group">
                    {% for field in contribution_form %}
                        {% if field.label == 'Certain' or field.label == ' date' or field.label == 'Location' %}
                            {% if field.field.required %}
                                <span class="input-group-addon sync" data-toggle="popover" data-placement="top"
                                      data-trigger="hover"
                                      data-html='true'
                                      title="<b>{{ field.label }}</b><span class='badge badge-primary pull-right'>Required</span>"
                                      data-content="{{ field.help_text }}"><strong
                                        style="height: 20px;">{{ field.label }}</strong></span>
                            {% else %}
                                <span class="input-group-addon sync" data-toggle="popover" data-placement="top"
                                      data-trigger="hover"
                                      data-html='true'
                                      title="<b>{{ field.label }}</b><span class='badge badge-secondary pull-right'>Optional</span>"
                                      data-content="{{ field.help_text }}"><strong>{{ field.label }}</strong></span>
                            {% endif %}
                            {% if field.label == 'Certain' or field.label == ' date' %}
                                {% render_field field class="form-control" %}
                            {% elif field.label == 'Location' %}
                                {% render_field field multiple="multiple" class="form-control" id="select_menu_geographical_area" %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div id="form1">
                <div class="input-group">
                    {% for field in contribution_form %}
                        {% if field.label == 'Person' %}
                            <span class="input-group-btn" data-toggle="popover" data-placement="top"
                                  data-trigger="hover" data-html="true"
                                  title="Contributor&lt;span class=&apos;badge badge-primary pull-right&apos;&gt;Required&lt;/span&gt;"
                                  data-content="The role that this Person had in contributing. Can be one of: Composer, Arranger, Author of Text, Transcriber, Improviser, Performer">
                                <select class="btn"
                                        style=" border: 1px solid #ccc;; vertical-align: middle; background-color: #eee;">
                                <option selected="selected">Composer</option>
                                <option>Arranger</option>
                                <option>Author of Text</option>
                                <option>Transcriber</option>
                                <option>Improviser</option>
                                <option>Performer</option>
                                </select>
                            </span>
                            {% render_field field multiple="multiple" style="width: 68%" class="form-control" id="select_menu_contributor1" %}
                            <span class="input-group-btn">
                        <button type="button" id="removeItself1" class="btn btn-secondary">-</button>
                        </span>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="input-group">
                    {% for field in contribution_form %}
                        {% if field.label == 'Certain' or field.label == ' date' or field.label == 'Location' %}
                            {% if field.field.required %}
                                <span class="input-group-addon sync" data-toggle="popover" data-placement="top"
                                      data-trigger="hover"
                                      data-html='true'
                                      title="<b>{{ field.label }}</b><span class='badge badge-primary pull-right'>Required</span>"
                                      data-content="{{ field.help_text }}"><strong
                                        style="height: 20px;">{{ field.label }}</strong></span>
                            {% else %}
                                <span class="input-group-addon sync" data-toggle="popover" data-placement="top"
                                      data-trigger="hover"
                                      data-html='true'
                                      title="<b>{{ field.label }}</b><span class='badge badge-secondary pull-right'>Optional</span>"
                                      data-content="{{ field.help_text }}"><strong>{{ field.label }}</strong></span>
                            {% endif %}
                            {% if field.label == 'Certain' or field.label == ' date' %}
                                {% render_field field class="form-control" %}
                            {% elif field.label == 'Location' %}
                                {% render_field field multiple="multiple" style="width: 23.5%" class="form-control" id="select_menu_geographical_area1" %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div id="form2">
                <div class="input-group">
                    {% for field in contribution_form %}
                        {% if field.label == 'Person' %}
                            <span class="input-group-btn" data-toggle="popover" data-placement="top"
                                  data-trigger="hover" data-html="true"
                                  title="Contributor&lt;span class=&apos;badge badge-primary pull-right&apos;&gt;Required&lt;/span&gt;"
                                  data-content="The role that this Person had in contributing. Can be one of: Composer, Arranger, Author of Text, Transcriber, Improviser, Performer">
                                <select class="btn"
                                        style="border: 1px solid #ccc;; vertical-align: middle; background-color: #eee;">
                                <option selected="selected">Composer</option>
                                <option>Arranger</option>
                                <option>Author of Text</option>
                                <option>Transcriber</option>
                                <option>Improviser</option>
                                <option>Performer</option>
                                </select>
                            </span>
                            {% render_field field multiple="multiple" style="width: 68%" class="form-control select_menu_contributor" %}
                            <span class="input-group-btn">
                        <button type="button" id="removeItself2" class="btn btn-secondary">-</button>
                        </span>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="input-group">
                    {% for field in contribution_form %}
                        {% if field.label == 'Certain' or field.label == ' date' or field.label == 'Location' %}
                            {% if field.field.required %}
                                <span class="input-group-addon sync" data-toggle="popover" data-placement="top"
                                      data-trigger="hover"
                                      data-html='true'
                                      title="<b>{{ field.label }}</b><span class='badge badge-primary pull-right'>Required</span>"
                                      data-content="{{ field.help_text }}"><strong
                                        style="height: 20px;">{{ field.label }}</strong></span>
                            {% else %}
                                <span class="input-group-addon sync" data-toggle="popover" data-placement="top"
                                      data-trigger="hover"
                                      data-html='true'
                                      title="<b>{{ field.label }}</b><span class='badge badge-secondary pull-right'>Optional</span>"
                                      data-content="{{ field.help_text }}"><strong>{{ field.label }}</strong></span>
                            {% endif %}
                            {% if field.label == 'Certain' or field.label == ' date' %}
                                {% render_field field class="form-control" %}
                            {% elif field.label == 'Location' %}
                                {% render_field field multiple="multiple" style="width: 23.5%" class="form-control select_menu_geographical_area" %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>

            <br>
            <h2>Additional Information</h2>
            <hr>
            <span class="help-block">
            These fields make it easier to find the piece using the database search engine.
        </span>

            <div class="row">
                <div class="col-md-6">
                    <div class="row">

                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="input-group" id="collections-input-group">
                                <span class="input-group-addon" data-toggle="popover" data-placement="top"
                                      data-trigger="hover" data-html='true'
                                      title="<b>Sources</b><span class='badge badge-primary pull-right'>Required</span>"
                                      data-content="A collection is user-defined grouping of pieces. The collection can be based on date, uploader,
                                       composer - or any other parameter. If you input a collection name which is not already in the database, this new
                                       collection will be created and visible to the public. You can make the collection private on the <a href='/collections/?creator={{ user.username }}' target='_blank'>My Collections</a> page">Sources</span>
                                    {% for field in sources_form %}
                                        {% if field.label == 'Collection' %}
                                            {% render_field field multiple="multiple" class="form-control" id="select_menu_collection_of_sources" %}
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                <div id="collection_suggestion_menu" class="suggestion-div"></div>
                                <div id="collections_error"></div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="input-group">
                                <span class="input-group-addon" data-toggle="popover" data-placement="top"
                                      data-trigger="hover" data-html='true'
                                      title="<b>Genres</b> <span class='badge badge-primary pull-right'>Required</span>"
                                      data-content="If present, select a genre from the drop-down list.">Genres as in type</span>
                                    {% for field in musical_work_form %}
                                        {% if field.label == 'Genres as in type' %}
                                            {% render_field field class="form-control select_menu_genre_as_in_type" %}
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                <div id="genre_suggestion_menu" class="suggestion-div"></div>
                                <div id="genres_error"></div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="input-group">
                                <span class="input-group-addon" data-toggle="popover" data-placement="top"
                                      data-trigger="hover" data-html='true'
                                      title="<b>Genres</b> <span class='badge badge-primary pull-right'>Required</span>"
                                      data-content="If present, select a genre from the drop-down list.">Genres as in style</span>
                                    {% for field in musical_work_form %}
                                        {% if field.label == 'Genres as in style' %}
                                            {% render_field field class="form-control select_menu_genre_as_in_style" %}
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                <div id="genre_suggestion_menu" class="suggestion-div"></div>
                                <div id="genres_error"></div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="input-group">
                                <span class="input-group-addon" data-toggle="popover" data-placement="top"
                                      data-trigger="hover" data-html='true'
                                      title="<b>Sacred/Secular</b> <span class='badge badge-primary pull-right'>Required</span>"
                                      data-content="'Whether the Musical Work is'
                                                    ' secular or sacred. '
                                                    'Leave this blank if non '
                                                    'applicable.'">Sacred/Secular</span>
                                    {% for field in musical_work_form %}
                                        {% if field.label == ' sacred or secular' %}
                                            <select name="_sacred_or_secular" class="form-control"
                                                    id="id__sacred_or_secular">
                                                <option value="1" selected="">Unknown</option>
                                                <option value="2">Sacred</option>
                                                <option value="3">Secular</option>
                                            </select>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                <div id="genre_suggestion_menu" class="suggestion-div"></div>
                                <div id="genres_error"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="input-group">
                                <span class="input-group-addon" data-toggle="popover" data-placement="top"
                                      data-trigger="hover" data-html='true'
                                      title="<b>Instrumentation</b> <span class='badge badge-primary pull-right'>Required</span>"
                                      data-content="<p>Vocal repertoire:</p>
                                      <ul>
                                            <li>For common practise era repertoire: <code>SATB</code>, <code>SSA</code>, etc.</li>
                                            <li>For other repertoire list voices (e.g. <code>cantus; tenor; contratenor</code>)</li>
                                            <li>For more than one of a given voice type, give number of singers and pluralize (e.g. <code>superius; altus; 2 contratenors; bassus</code></li>
                                      </ul>
                                      <p>Chamber ensembles:</p>
                                      <ul>
                                          <li>For common set ensembles: <code>string quartet</code>, <code>wind quintet</code>, etc.</li>
                                          <li>For other small ensembles list voices (e.g. <code>flute; oboe; bassoon</code>)</li>
                                          <li>For more than one of each instrument, give number of players and pluralize (e.g. <code>2 oboes; 2 clarinets; 2 horns; 2 bassoons</code>)</li>
                                      </ul>
                                      <p>Large­scale works:</p>
                                      <ul>
                                            <li>For orchestral works: <code>orchestra</code></li>
                                            <li>For an opera or oratorio: <code>orchestra and voices</code></li>
                                      </ul> ">Instrumentation</span>
                                    {% for field in part_form %}
                                        {% if field.label == 'Written for' %}
                                            {% render_field field class="form-control select_menu_instrument" %}
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                <div id="instrumentation_suggestion_menu" class="suggestion-div"></div>
                                <div id="instruments_voices_error"></div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="input-group">
                                <span class="input-group-addon" data-toggle="popover" data-placement="top"
                                      data-trigger="hover" data-html='true'
                                      title="<b>Portions</b> <span class='badge badge-warning pull-right'>Optional</span>"
                                      data-content="Print source information as available, e.g. manuscript (Bologna Q15), publisher (Breitkopf & Härtel), or edition (Neue Bach-Asugabe).">Portions</span>
                                    <input type='text' name="sources" id="sources" autocomplete="off"
                                           placeholder="e.g. Bologna Q15"
                                           class="form-control unstyled upload-input-field" aria-label="Sources"/>
                                </div>
                                <div id="source_suggestion_menu" class="suggestion-div"></div>
                                <div id="sources_error"></div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
            <br>

            <div class="form-group">
            <textarea class="form-control upload-input-field" rows="7" name="comment" id="comment"
                      data-provide="markdown" style="resize:vertical"
                      placeholder="Comments..." aria-label="Comments"></textarea>
            </div>
            <br>

            <h2>Sections</h2>
            <hr>
            <span class="help-block">
                If the work is divided into sections, acts, or other parts, declare them in this table.
                To specify information on a per-section basis, click on the 'Show Advanced' button.
                Please enter titles for all sections, even if you will not be uploading files for all of them.
            </span>
            <div class="well">
                <h4>Sections</h4>
                <table class="table table-hover">
                    <colgroup>
                        <col class="text-center" style="width: 5%;">
                        <col style="width: 5%;">
                        <col style="width: 70%;">
                        <col style="width: 20%;">
                    </colgroup>
                    <tbody id="movement_table">
                    <tr>
                        <th class="text-center">Remove</th>
                        <th class="text-center">#</th>
                        <th>Section Title</th>
                        <th>Advanced</th>
                    </tr>
                    <!-- User can add rows for files here -->
                    </tbody>
                </table>
                <hr>
                <div>
                    <button id="new_mov" type="button" class="btn btn-default">Add Section</button>
                </div>
            </div>
            <br>
            <h2>Files</h2>
            <hr>


            <span class="help-block">
            Upload files with <a href="#" onClick="return false;" data-toggle="popover" data-placement="top"
                                 data-trigger="hover" title="<b>Acceptable Formats</b>"
                                 data-html='true'
                                 data-content=".mei, .xml, .pdf, .mxl, .krn, .nwc, .tntxt, .capx, .abc, .midi">
            acceptable formats</a> here. If the file is for a specific act or section as entered above, select that entry from the drop-down menu in the "Attach To" column.
            The files you upload will be renamed automatically.
        </span>

            <div class="well">
                <h4>Files</h4>
                <table class="table table-hover">
                    <colgroup>
                        <col class="text-center" style="width: 5%;">
                        <col style="width: 45%;">
                        <col style="width: 15%;">
                        <col style="width: 35%;">
                    </colgroup>
                    <tbody id="piece_file_table">
                    <tr>
                        <th class="text-center">Remove</th>
                        <th>Files</th>
                        <th>Attach To</th>
                        <th>File Source</th>
                    </tr>
                    <!-- User can add rows for files here -->
                    </tbody>
                </table>
                <div>
                    <button id="new_piece_file" type="button" class="btn btn-default">Add File</button>
                </div>
            </div>
            <br>

            <hr>
            <div class="text-right">
                <button type='button' id='piece-submit' class='btn btn-success'>Submit</button>
            </div>
            <br>
        </form>
    </div>

{% endblock %}

