{% extends "database/base.html" %}
{% load i18n %}
{% load rest_framework %}
{% block content %}

<h2>{{ musicalwork.variant_titles.0 }}</h2>
<hr>
    <div class="panel panel-group">
        <div class="panel-heading"><h3>Contributors</h3></div>
        {% for composer_info in musicalwork.composers %}
            {% include "database/cards/contribution_card.html" with role='composer' person=composer_info.composer date=composer_info.date place=composer_info.place certain=composer_info.certain%}
        {% endfor %}
    </div>
<div class="row">
    <div class="col-xs-6">
        <dl class="dl-horizontal">
            <!--Styles-->
            <dt>
                {% if musical_work.genres_as_in_style.count > 1 %}
                    {%trans "Styles" %}
                {% else %}
                    {%trans "Style" %}
                {% endif %}
            </dt>
            <dd>
                {% for style in musicalwork.genres_as_in_style.all %}
                    <a href="{% url 'genre-detail' pk=style.pk %}">{{ style }}</a>
                {% endfor %}
            </dd>

            <!--Types-->
            <dt>
                {% if musicalwork.genres_as_in_type.count > 1%}
                    {% trans "Types" %}
                {% else %}
                    {% trans "Type" %}
                {% endif %}
            </dt>
            <dd>
                {% for type in musicalwork.genres_as_in_type.all %}
                    <a href="{% url 'genre-detail' pk=type.pk %}">{{ type }}</a>
                {% endfor %}
            </dd>

        </dl>

    </div>
    <div class="col-xs-6">
        <dl class="dl-horizontal">

            <!--Religiosity-->
            <dt>
                {% trans "Religiosity" %}
            </dt>
            <dd>
                {% if musicalwork.religiosity == True %}
                    {% trans "Sacred" %}
                {% elif musicalwork.religiosity == False %}
                    {% trans "Secular" %}
                {% else %}
                    {% trans "Not Applicable" %}
                {% endif %}
            </dd>

            <dt>{% trans "Collections" %}</dt>
            <dd>
                {% trans "Not Applicable" %}
            </dd>
            <dt>{% trans "Certainty" %}</dt>
            <dd>
                {{ musicalwork.certainty }}
            </dd>
            <dt>{% trans "Languages" %}</dt>
            <dd>
                {{ musicalwork.languages }}
            </dd>
        </dl>
    </div>
    <div class="col-sm-9">
        {% if musicalwork.sections.count %}
            <h3>{% include "database/translation_plural.html" with counts=musicalwork.sections.count single="Section" notsingle="Sections" %}
                <small>({{ musicalwork.sections.count }})</small>
            </h3>
            {% for s in musicalwork.sections.all %}
                <a href="{% url 'section-detail' pk=s.pk %}" class="list-group-item col-xs-11">
                <span class='badge alert-info right-badge' style='margin-top:10px'>
                    {{ s.parts.count }} {% include "database/translation_plural.html" with counts=s.parts.count single="Part" notsingle="Parts" %}
                </span>
                    <h4>
                        {{ s.title }}
                    </h4>
                    <p class='list-group-item-text'></p>
                </a>
            {% endfor %}
        {% endif %}
    </div>
</div>

{% endblock %}
