{% extends "database/base.html" %}

{% block content %}
    <h1>New Piece</h1>

    <form id="searchform" action="{% url 'person-search' %}" method="get" accept-charset="utf-8">
        <input class="searchfield" id="searchbox" name="q" type="text" placeholder="Search">

        <button type="submit" class="save btn btn-default">Search</button>
    </form>

    <script>var editor = new MediumEditor('.editable');</script>  <!-- This is the medium editor we use to set up to get that style in input textbox-->

{% endblock %}
