{% extends "database/base_list.html" %}
{% load rest_framework %}
{% load i18n %}
{% block content %}
{% block header %}
    <h2>{% include "database/translation_plural_number.html" with counter=musicalwork_list.count single="Musical Work" notsingle="Musical Works" %}</h2>
{% endblock %}
{% block list_content %}
    <div class="centerstage">
    {% for m in musicalwork_list %}
        {% include "database/list_item.html" with url=m.pk section_count=m.sections.count title=m.variant_titles.0 date1=m.dates_of_composition.0.lower.year date2=m.dates_of_composition.0.upper.year type="musicalwork" composer=m.contributors.all.0%}
    {% endfor %}
{% endblock %}
</div>
{% endblock %}
