{% extends "database/base.html" %}

{% block content %}
<div class="centerstage">


    {% for musicalwork in musicalwork_list %}
        <div class="post">

            <h1><a href="{% url 'musicalwork_detail' pk=musicalwork.pk %}">{{ musicalwork.title }}</a></h1>  <!-- List all the post, going to the post page when clicked-->
            <div class="date">
                <h2>Created on: {{ musicalwork.created_at|date:'Y-m-d'}}</h2> <!-- this is template filter, showing published date is a certain format -->
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
