{% extends "database/base.html" %}
{% load template_helpers %}
{% block content %}


{% include 'database/detail_title.html' with object=musicalwork %}

<div class="card-deck">
 {% for contribution in musicalwork.contributions.all|dictsort:"role" %}
    {% include "database/cards/contribution-card.html" with contribution=contribution %}
{% endfor %}
</div>
<dl class="row">
    {% if musicalwork.more_titles %}
        <dt class="col-sm-3"> Variant Title{{ musicalwork.more_titles|pluralize}} </dt>
        <dd class="col-sm-9">
            {% for title in musicalwork.more_titles %}
                {{ title }}{% if not forloop.last %},{% endif %}
            {% endfor %}
        </dd>           
    {% endif %}

    {% if musicalwork.genres_as_in_style.exists %}
        <dt class="col-sm-3"> Genre{{ musicalwork.genres_as_in_style.all|pluralize }} as in Style </dt>
        <dd class="col-sm-9">
            {% for style in musicalwork.genres_as_in_style.all %}
                    <a href="{{ style.get_absolute_url }}">{{ style }}</a>{% if not forloop.last %},{% endif %}
            {% endfor %}
        </dd>
    {% endif %}


    {% if musicalwork.genres_as_in_type.exists %}
        <dt class="col-sm-3"> Genre{{ musicalwork.genres_as_in_type.all|pluralize }} as in Type </dt>
        <dd class="col-sm-9">
            {% for type in musicalwork.genres_as_in_type.all %}
                    <a href="{{ type.get_absolute_url }}">{{ type }}</a>{% if not forloop.last %},{% endif %}
            {% endfor %}
        </dd>
    {% endif %}


    <dt class="col-sm-3"> Sacred or Secular </dt>
    <dd class="col-sm-9"> {{ musicalwork.sacred_or_secular|yesno:"Sacred, Secular, Not Applicable"}}

    {% if musicalwork.instrumentation.exists %}
        <dt class="col-sm-3"> Instrumentation </dt>
        <dd class="col-sm-9">
            {% for instrument in musicalwork.instrumentation %}
                    <a href="{{ instrument.get_absolute_url }}">{{ instrument }}</a>{% if not forloop.last %},{% endif %}
            {% endfor %}
        </dd>
    {% endif %}
</dl>


<div class="container">
    <ul class="nav nav-tabs" id="tabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="sections-tab" data-toggle="tab" href="#sections" role="tab" aria-controls="sections" aria-selected="true">Sections</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="parts-tab" data-toggle="tab" href="#parts" role="tab" aria-controls="parts" aria-selected="false">Parts</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="related-works-tab" data-toggle="tab" href="#related-works" role="tab" aria-controls="related-works" aria-selected="false">Related Works</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="files-tab" data-toggle="tab" href="#files" role="tab" aria-controls="files" aria-selected="false">Files</a>
        </li>
    </ul>
    <div class="tab-content" id="tabs-content">
        <div class="tab-pane fade show active" id="sections" role="tabpanel" aria-labelledby="sections-tab">
            <ul class="list-group">
            {% for section in musicalwork.sections.all %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a href="{{ section.get_absolute_url }}"> {{ section }} </a> 
                    <span class="badge badge-info badge-pill"> {{ section.files_count }} File{{ section.files_count|pluralize }}
                </li>
            {% endfor %}
            </ul>
        </div>
        <div class="tab-pane fade" id="related-works" role="tabpanel" aria-labelledby="related-works-tab">
            <ul class="list-group">
            {% for related_work in musicalwork.related_works.all %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a href="{{ related_work.get_absolute_url }}"> {{ related_work }} </a> 
                    <span class="badge badge-info badge-pill"> {{ related_work.files_count }} File{{ related_work.files_count|pluralize }}
                </li>
            {% endfor %}
            </ul>
        </div>
        <div class="tab-pane fade" id="parts" role="tabpanel" aria-labelledby="parts-tab">
            <h5> Parts of the whole Musical Work </h5>
            <ul class="list-group">
            {% for part in musicalwork.parts.all %}
                 <li class="list-group-item d-flex justify-content-between align-items-center">
                        <a href="{{ part.get_absolute_url }}"> {{ part.written_for }} </a>
                        {% if part.files_count %}
                            <span class="badge badge-info badge-pill"> {{ part.files_count }} File{{ part.files_count|pluralize }}</span>
                        {% endif %}
                    </li>
            {% endfor %}
            </ul>
            <br>
            
            {% regroup musicalwork.section_parts by section as sections %}
            {% for section in sections %}
                <h5> {{ section.grouper }} </h5>
                <ul class="list-group">
                {% for part in section.list %} 
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <a href="{{ part.get_absolute_url }}"> {{ part.written_for }} </a>
                        {% if part.files_count %}
                            <span class="badge badge-info badge-pill"> {{ part.files_count }} File{{ part.files_count|pluralize }}
                        {% endif %}
                    </li>
                {% endfor %}
                </ul>
                <br>
            {% endfor %}
        </div>
        <div class="tab-pane fade" id="files" role="tabpanel" aria-labelledby="files-tab">
            <div>
                <h4> Files attached to the whole work </h4>
                {% regroup musicalwork.files by get_file_type_display as file_types %}
                <ul>
                    {% for type in file_types %}
                        <li> {{ type.grouper }} File{{ type.list|pluralize }} </li>
                        <ul>
                        {% for file in type.list %} 
                            <li> <a href="{{ file.get_absolute_url}}"> {{ file }} </a> </li>
                        {% endfor %}
                        </ul>
                    {% endfor %}
                </ul>
            </div>

            <div>
                <h4> Files attached to sections </h4>
                <ul>
                {% for section in musicalwork.sections.all %}
                    {% if section.files %}
                        <li> {{ section }} </li>
                        {% regroup section.files|dictsort:"file_type" by get_file_type_display as file_types %}
                        <ul>
                            {% for type in file_types %}
                                <li> {{ type.grouper }} File{{ type.list|pluralize }} </li>
                                <ul>
                                {% for file in type.list %} 
                                    <li> <a href="{{ file.get_absolute_url}}"> {{ file }} </a> </li>
                                {% endfor %}
                                </ul>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endfor %}
                </ul>
            </div>

            <div>
                <h4> Files attached to parts </h4>
                <ul>
                {% for part in musicalwork.parts.all %}
                    {% if part.files %}
                        <li> {{ part}} </li>
                        {% regroup part.files|dictsort:"file_type" by get_file_type_display as file_types %}
                        <ul>
                            {% for type in file_types %}
                                <li> {{ type.grouper }} File{{ type.list|pluralize }} </li>
                                <ul>
                                {% for file in type.list %} 
                                    <li> <a href="{{ file.get_absolute_url}}"> {{ file }} </a> </li>
                                {% endfor %}
                                </ul>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endfor %}
                </ul>

                <ul>
                {% for part in musicalwork.section_parts %}
                    {% if part.files %}
                        <li> {{ part}} </li>
                        {% regroup part.files|dictsort:"file_type" by get_file_type_display as file_types %}
                        <ul>
                            {% for type in file_types %}
                                <li> {{ type.grouper }} File{{ type.list|pluralize }} </li>
                                <ul>
                                {% for file in type.list %} 
                                    <li> <a href="{{ file.get_absolute_url}}"> {{ file }} </a> </li>
                                {% endfor %}
                                </ul>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
