{% if list.has_other_pages %}
    <ul class="pagination">
    {% if list.has_previous %}
        <li><a href="?page={{ list.previous_page_number }}">&laquo;</a></li>
    {% else %}
        <li class="disabled"><span>&laquo;</span></li>
    {% endif %}

    {% if list.number|add:'-4' > 1 %}
        <li><a href="?page=1">1</a></li>
        <li><a href="?page={{ list.number|add:'-5' }}">&hellip;</a></li>
    {% endif %}

    {% for i in list.paginator.page_range %}
        {% if list.number == i %}
            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
        {% elif i > list.number|add:'-5' and i < list.number|add:'5' %}
            <li><a href="?page={{ i }}">{{ i }}</a></li>
        {% endif %}
    {% endfor %}

    {% if list.paginator.num_pages > list.number|add:'4' %}
        <li><a href="?page={{ list.number|add:'5' }}">&hellip;</a></li>
        <li><a href="?page={{ list.paginator.num_pages }}">{{ list.paginator.num_pages }}</a></li>
    {% endif %}

    {% if list.has_next %}
        <li><a href="?page={{ list.next_page_number }}">&raquo;</a></li>
    {% else %}
        <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
    </ul>
{% endif %}