{% extends "database/base_list.html" %}
{% load i18n %}
{% block content %}
{% block header %}
    <h1>{% include "database/translation_plural_number.html" with counter=person_list.count single="Composer" notsingle="Composers" %}</h1>
{% endblock %}
{% block list_content %}
    <div class="centerstage">
    {% for p in person_list %}
{#        {% include "database/list_item.html" with url=p.url m_count=p.sections_contributed_to.count p_count=p.works_contributed_to.count title=p.surname date1=p.range_date_birth.upper.year date2=p.range_date_death.upper.year %}#}
        <div class="post">
            <a href="{% url 'person-detail' pk=p.pk %}" class="list-group-item col-xs-11">
                <span class='badge alert-info right-badge' style='margin-top:10px'>
                    {{ p.works_contributed_to.count }} {% include "database/translation_plural.html" with counts=p.works_contributed_to.count single="Piece" notsingle="Pieces" %} {{ p.sections_contributed_to.all|length }} {% include "database/translation_plural.html" with counts=p.sections_contributed_to.count single="Section" notsingle="Sections" %}
                </span>
                <h4>
                {{ p.given_name }} {{ p.surname }}
                </h4>
                <p class='list-group-item-text'></p>
                    <small>
                        {{ p.range_date_birth.upper.year }}-{{ p.range_date_death.upper.year }}
                    </small>
            </a>
        </div>
    {% endfor %}
{% endblock %}
</div>
{% endblock %}


