{% extends "database/base.html" %}
{% load i18n %}
{% block content %}


        <h2>
            {{ person.given_name}} {{ person.surname }}
            <small>
                ({{ person.range_date_birth.upper.year }}-{{ person.range_date_death.upper.year }})
            </small>
        </h2> <!-- Loader and posttitle is the class defined in css file-->
        <div class="row">
            <div class="col-sm-9">
                <div class="tab-content">
                    <div id="detail_tab" class="tab-pane in active fade">
                        <h3>Piece{{ person.works_contributed_to.all|length|pluralize }} ({{ person.works_contributed_to.all|length }})</h3>
                            <table class="table" id="piece-table">
                                <thead>
                                <tr>
                                    <th width="50%">Title</th>
                                    <th width="10%">Sections</th>
                                    <th width="10%">Date</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for work in person.works_contributed_to.all %}
                                    <tr>
                                        <td><a href="{% url 'musicalwork-detail' pk=work.pk %}">{{ work.variant_titles.0 }}</a></td>
                                        <td>
                                            <span class="label" style="background-color: #31b0d5;">
                                                {{ work.sections.count }} section{{  work.sections.count| pluralize }}
                                            </span>
                                        </td>
                                        <td>{{ work.dates_of_composition.0 }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                    </div>
                </div>
            </div>
    </div>
{% endblock %}
