{% extends "database/base.html" %}
{% load i18n %}
{% block content %}


        <h2>
            {{ person.given_name}} {{ person.surname }}
            <small>
                ({{ person.range_date_birth.upper.year }}-{{ person.range_date_death.upper.year }})
            </small>
        </h2>
        <h3>Works Composed</h3>
        <hr>
        {% for work in person.composed.works %}

            {% include "database/cards/musical_work_card.html" with musicalwork=work query=''%}
        {% endfor %}
{% endblock %}
