{%  load template_helpers %}
{% if list.has_other_pages %}
    <ul class="pagination">
    {% if list.has_previous %}
        <li><a href="{% relative_url list.previous_page_number 'page' request.GET.urlencode %}">&laquo;</a></li>
    {% else %}
        <li class="disabled"><span>&laquo;</span></li>
    {% endif %}

    {% if list.number|add:'-4' > 1 %}
        <li><a href="{% relative_url 1 'page' request.GET.urlencode %}">1</a></li>
        <li><a href="{% relative_url list.number|add:'-5' 'page' request.GET.urlencode %}">&hellip;</a></li>
    {% endif %}

    {% for i in list.paginator.page_range %}
        {% if list.number == i %}
            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
        {% elif i > list.number|add:'-3' and i < list.number|add:'3' %}
            <li><a href="{% relative_url i 'page' request.GET.urlencode %}">{{ i }}</a></li>
        {% endif %}
    {% endfor %}

    {% if list.paginator.num_pages > list.number|add:'4' %}
        <li><a href="{% relative_url list.number|add:'5' 'page' request.GET.urlencode %}">&hellip;</a></li>
        <li><a href="{% relative_url list.paginator.num_pages 'page' request.GET.urlencode %}">{{ list.paginator.num_pages }}</a></li>
    {% endif %}

    {% if list.has_next %}
        <li><a href="{% relative_url list.next_page_number 'page' request.GET.urlencode %}">&raquo;</a></li>
    {% else %}
        <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
    </ul>
{% endif %}
