{#{% extends "database/base.html" %}#}
{##}
{#{% block content %}#}
{#<div class="centerstage">#}
{#    {% for section in section_list %}#}
{#        <div class="post">#}
{#            <p><a href="{% url 'section-detail' pk=section.pk %}">{{ section.title }}</a></p>  <!-- List all the post, going to the post page when clicked-->#}
{#        </div>#}
{#    {% endfor %}#}
{#    {% include "database/base_page.html" %}#}
{#</div>#}
{#{% endblock %}#}

{% extends "database/base_list.html" %}
{% load rest_framework %}
{% block content %}
{% block header %}
    <h1>{% include "database/translation_plural_number.html" with counter=section_list.count single="Section" notsingle="Sections" %}</h1>
{% endblock %}
{% block list_content %}
    <div class="centerstage">
    {% for s in section_list %}
        <div class="post">
            <a href="{% url 'section-detail' pk=s.pk %}" class="list-group-item col-xs-11">
                <span class='badge alert-info right-badge' style='margin-top:10px'>
                    {{ s.parts.all|length }} Part{{ s.parts.all|length|pluralize }}
                </span>
                <h4>
                    {{ s.title }}
                </h4>
                <p class='list-group-item-text'></p>
                    <small>
                        From {{ s.in_works.all.0.variant_titles.0 }}, composed by {{ s.in_works.all.0.contributors.all.0.given_name  }} {{ s.in_works.all.0.contributors.all.0.surname }} in {{ s.in_works.all.0.dates_of_composition.0.lower.year }}-{{ s.in_works.all.0.dates_of_composition.0.upper.year }}
                    </small>
            </a>
        </div>
    {% endfor %}
{% endblock %}
</div>
{% endblock %}