{% extends "database/base.html" %}
{% load i18n %}
{% block content %}
        <h2>{{ section.title}}</h2> <!-- Loader and posttitle is the class defined in css file-->
        <a href="{% url 'person-detail' pk=section.in_works.all.0.contributors.all.0.pk %}" class="label label-composer">{{ section.in_works.all.0.contributors.all.0 }}</a>
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <a href='{% url 'musicalwork-detail' pk=section.in_works.all.0.pk %}' class="label label-piece">{{ section.in_works.all.0.variant_titles.0 }}</a>
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <a href="#" class="label label-movement">{{ section.title }}</a>
        <hr>
        <div class="row">
        <div class="col-xs-6">
            <dl class="dl-horizontal">
                <dt>Composer</dt>
                <dd>
                    <a href="{% url 'person-detail' pk=section.in_works.all.0.contributors.all.0.pk %}">{{ section.in_works.all.0.contributors.all.0 }}</a>
                </dd>
{#                <dt>In Musical Work</dt>#}
{#                <dd>#}
{#                    <a href='{% url 'musicalwork-detail' pk=section.in_works.all.0.pk %}' >{{ section.in_works.all.0.variant_titles.0 }}</a>#}
{#                </dd>#}
                <dt>Date of Composition</dt>
                <dd>
                    {{ section.in_works.all.0.dates_of_composition.0.lower.year }}-{{ section.in_works.all.0.dates_of_composition.0.upper.year }}
                </dd>
                <dt>Place of Composition</dt>
                <dd>
                    {{ section.in_works.all.0.places_of_composition.0 }}
                </dd>
                {% if section.in_works.all.0.genres_as_in_style.count %}
                    <dt>Style</dt>
                    <dd>
                        {% for style in section.in_works.all.0.genres_as_in_style.all %}
                            <a href= "{% url 'genre-detail' pk=style.pk %}">{{ style }}</a>
                        {% endfor %}
                    </dd>
                {% endif %}
                {% if section.in_works.all.0.genres_as_in_type.count %}
                        <dt>Type</dt>
                        <dd>
                        {% for type in section.in_works.all.0.genres_as_in_type.all %}
                            <a href= "{% url 'genre-detail' pk=type.pk %}">{{ type }}</a>
                        {% endfor %}
                        </dd>
                 {% endif %}
                <dt>Parts:</dt>
                    <dd>
                        {% for part in section.parts.all %}
                            {{ part }}
                        {% endfor %}
                    </dd>
            </dl>
        </div>
        <div class="col-xs-6">
            <dl class="dl-horizontal">
                <dt>Religiosity</dt>
                <dd>
                    {{ section.in_works.all.0.religiosity}}
                </dd>

                <dt>Collections</dt>
                <dd>
                    Not applicable
                </dd>
                <dt>Certainty</dt>
                <dd>
                    {{ section.in_works.all.0.certainty }}
                </dd>
                <dt>Languages</dt>
                <dd>
                    {{ section.in_works.all.0.languages }}
                </dd>
                <dt>Sources</dt>
                <dd>
                    Not applicable
                </dd>
            </dl>
        </div>
    </div>
{% endblock %}
