{% extends "database/base.html" %}
{% load i18n %}
{% block content %}


        <h1 class='posttitle loader'>{{ section.title}}</h1> <!-- Loader and posttitle is the class defined in css file-->
        <h2 class='postcontent' >Parts:
            {% for part in section.parts.all %}
                {{ form }}
            {% endfor %}</h2>
        <h2 class='postcontent'>{% trans "Pieces that contain this section:" %}
        {% for musicalwork in section.in_works.all %}
            <a href="{% url 'musicalwork-detail' pk=musicalwork.pk %}">{{ musicalwork.variant_titles.0 }}</a>
        {% endfor %}
        </h2>
        <h2 class='postcontent'>{% trans "Contributor:" %}
        {% for contributor in section.contributors.all %}
            <a href="{% url 'person-detail' pk=contributor.pk %}">{{ contributor.given_name }} {{ contributor.surname }}</a>
        {% endfor %}
        </h2>
{#        <h2 class='postcontent'>{% trans 'Contributor:' %} <a href=""> </a></h2>#}
{% endblock %}
